body{
  margin:0
  font-family:Verdana,sans-serf;
}

.contenedor{
  display:flex;
  min-height:100vh;
}

.izquierda{
  width:26%;
  backgrounds:#504d4a;
  color:white;
  padding:20px;
  box-sizing:border-box;
}

.derecha{
  width:74%;
  backgrounds:black;
  color:white;
  padding:30px;
  box-sizing:border-box;
}

h1{
  color:#6f859b;
  font-size:60px;
}

.perfil{
  width:180px;
  border-radius:10px;
  display:block;
  margin:auto;
}

.tarjeta{
  width:220px;
}

.tarjeta img{
  width:100%;
  height:auto;
}

.compañeros{
  display:flex;
  padding:15px;
  border:1px solid #6f859b;
  border-radius:10px;
}

  

@media (max-width:768px) {
  .contenedor{
    flex-direction:column;
  }

  .izquierda,
  .derecha{
    width:100%;
  }

  h1{
    font-size:35px;
    text-align:center;
  }

  .profesores{
    justify-content:center;
  }
}
  
  


