body {
  margin: 0;
  height: 60vh;
  background: linear-gradient(to right, #3535b1 30%, white 30%);
  font-family: Verdana, sans-serif;
}

h1 {
  margin-left:600px;
}

#perfil {
  position: absolute;
  left: 60px;
  top: 40px;
  width: 160px;
}

#telefono {
  position: absolute ;
  left: 43px;
  top: 240px;
  color: white;
}

#codigo {
  position: absolute;
  left: 43px;
  top: 260px;
  color: white;
}

#correo {
  position: absolute;
  left: 43px;
  top: 280px;
  color: white;
}

#linea {
  position: absolute;
  left: 43px;
  width: 250px;
  height: 2px;
  top: 340px;
  background: white;
}
#habilidades_blandas {
  position: absolute;
  left: 60px;
  top: 360px;
  color: white;
}

#habilidades_blandas1 {
  position: absolute;
  left: 43px;
  top: 400px;
  color: white;
}

#habilidades_duras {
  position: absolute;
  left: 60px;
  top: 550px;
  color: white;
}

#habilidades_duras1 {
  position: absolute;
  left: 43px;
  top: 570px;
  color: white;
}

#persona {
  position: absolute;
  left: 680px;
  top: 340px;
  font-weight: bold;
}

#persona1 {
  position: absolute;
  left: 500px;
  top: 380px;
}

#curso {
  position: absolute;
  left: 650px;
  top: 550px;
  font-weight: bold;
}

#curso1 {
  position: absolute;
  left: 500px;
  top: 590px;
  
}

#profesores {
  position: absolute;
  left: 650px;
  top: 890px;
  font-weight: bold;
}

#profesores1 {
  position: absolute;
  left: 500px;
  top: 930px;
}

#ivu {
  position: absolute;
  left: 60px;
  top: 1200px;
}

#ponce {
  position: absolute;
  left: 60px;
  top: 1250px;
  width: 170px;
}

#com {
  position: absolute;
  left: 460px;
  top: 1200px;
}

#cruz {
  position: absolute;
  left: 460px;
  top: 1250px;
  width: 170px;
}

#logica {
  position: absolute;
  left: 860px;
  top: 1200px;
}


#programacion {
  position: absolute;
  left: 60px;
  top: 1700px;
}

#villa {
  position: absolute;
  left: 60px;
  top: 1750px;
  width: 170px;
}

#matematica {
  position: absolute;
  left: 460px;
  top: 1700px;
}

#diaz {
  position: absolute;
  left:460px;
  top: 1750px;
  width: 170px;
}
  
#icc {
  position: absolute;
  left: 860px;
  top: 1700px;
}

#quispe {
  position: absolute;
  left: 860px;
  top: 1750px;
  width: 170px;
}
  
#compañeros {
  position:absolute;
  left: 800px;
  top: 2200px;
  font-weight: bold;
  height: 1400px;
}

#ucsp {
  position: absolute;
  left: 850px;
  top: 2250px;
  height: 1200px;
}

#adriano {
  position: absolute;
  left: 850px;
  top: 2300px;
  height: 1200px;
}

#final {
  margin-bottom: 200px;
  color: #3535b1;
}



