body {
  margin: 0;
  height: 60vh;
  background: linear-gradient(to right, #3535b1 25%, white 25%);
}

h1 {
  margin-left:700px;
}

#telefono {
  position: absolute ;
  left: 35px;
  top: 350px;
  color: white;
}
  
